<nav class="navbar">
  <div class="navbar__title">
    <%= link_to 'zmaBLOG', root_path %>
  </div>
  <div class="navbar__links">
    <%= link_to 'Sign In', sign_in_path, class: 'navbar__link' %>
  </div>
</nav>
